$primary-color:#f2f2ff;
    $secondary-color:#31347a;
        $color-accent:#f6ce7a;
            $font-color-main:black;
                $font-color-secondary: white;
                $font-hover-color: #bcbcc3;
                    $font-size-primary: 1rem;
                        $font-size-secondary:1.5rem;
                            $font-size-tertiary:0.5rem;
                            $font-size-larger:2rem;
                            $main-font:cursive;
                            $header-font:monospace;


                                //reset default css

                                    *{
                                        padding: 0;
                                        margin: 0;
                                        box-sizing: border-box;}

                                        body{
                                            height: 100vh;
                                            width: 100%;
                                            font-family: $main-font;
                                            font-size: $font-size-primary;
                                        }

.wrapper{
    background-color: $secondary-color;

    color: $primary-color;
    font-family: $header-font;
    padding: 4rem 1rem 1.5rem 1rem;
    font-size: $font-size-larger;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
h1{
    cursor: pointer;
    transition: 0.6s all ease-in-out;
    span{
        color: #ff237e;
    }
}
h1:hover{
 color: $font-hover-color;
 transition: 0.6s all ease-in-out;
 

}
   
}

.links-container{
   ul{
       display: flex;
       li{
           flex: 1;
        margin-left:2rem;
        list-style: none;
        border-bottom: 1px solid transparent;
        cursor: pointer;
                font-weight: 400;
                color: white;

           
                 a{
                       color: white;
                         text-decoration: none;
                }
              
       }
       li:hover, a:hover{
           border-bottom: 2px solid $color-accent;
           transition: 0.5s all ease-in-out;
           color: $font-hover-color;
   
       }
   }

}

.Home{
    display: flex;
    justify-content: space-around;
   
    max-width: 2040px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 3rem;
  
    font-family: cursive;

    h1{
        margin-top: 13rem;
        text-align: justify;
        color: #46464b;
    }
    img{
        max-width: 50vw;
        margin-left: 3rem;
    }
}


//about page


.about{
    display: flex;
    justify-content: space-around;
    padding: 3rem;
 max-width: 2040px;
 margin-left: auto;
 margin-right: auto;
 padding-left: 3rem;

 div{
     margin-top: 5rem;
     text-align: justify;
 }

 img{
       max-width: 50vw;
       margin-left: 3rem;
 }
}
footer{
    background-color: $secondary-color;
    color: $primary-color;
    padding: 4rem;
    margin-top: 8rem;
}
