* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  font-family: cursive;
  font-size: 1rem;
  color: #46464b;
}

.wrapper {
  background-color: #31347a;
  color: #f2f2ff;
  font-family: monospace;
  padding: 4rem 3rem 1.5rem 3rem;
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.wrapper h1 {
  cursor: pointer;
  -webkit-transition: 0.6s all ease-in-out;
  transition: 0.6s all ease-in-out;
}

.wrapper h1 span {
  color: #ff237e;
}

.wrapper h1:hover {
  color: #bcbcc3;
  -webkit-transition: 0.6s all ease-in-out;
  transition: 0.6s all ease-in-out;
}

.links-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.links-container ul li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 2rem;
  list-style: none;
  border-bottom: 1px solid transparent;
  cursor: pointer;
  font-weight: 400;
  color: white;
}

.links-container ul li a {
  color: white;
  text-decoration: none;
}

.links-container ul li:hover, .links-container ul a:hover {
  border-bottom: 2px solid #f6ce7a;
  -webkit-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
  color: #bcbcc3;
}

.Home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 2040px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 3rem;
  font-family: cursive;
}

.Home h1 {
  margin-top: 8rem;
  text-align: justify;
  color: #46464b;
}

.Home img {
  max-width: 50vw;
  margin-left: 3rem;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 3rem;
  max-width: 2040px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 3rem;
  color: #46464b;
}

.about div {
  text-align: justify;
}

.about div h1 {
  margin-top: 8rem;
}

.about img {
  max-width: 50vw;
  margin-left: 3rem;
}

.mapped-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.data-item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 3rem;
  margin-top: 4rem;
}

.data-item a {
  color: #46464b;
  cursor: pointer;
}

.data-item a:hover {
  color: #1a1a1b;
  -webkit-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
}

.error {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 2240px;
  padding: 5rem;
  margin: 10rem auto 0 auto;
}

.error h1 {
  text-align: justify;
}

.error img {
  max-width: 50vw;
}

.resource {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 4rem;
  max-width: 2040px;
  margin-left: auto;
  margin-right: auto;
  color: #46464b;
}

.resource div {
  margin-top: 8rem;
  font-size: 1.5rem;
  font-weight: 600;
}

.resource div a {
  color: #46464b;
}

a {
  text-decoration: none;
  color: #f2f2ff;
}

.version {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 2040px;
  margin: 8rem auto 0 auto;
  padding: 5rem;
}

.version h1 {
  text-align: justify;
}

.version img {
  max-width: 50vw;
}

.spinner {
  text-align: center;
}

.spinner img {
  width: 70vw;
  height: 50vh;
  margin-top: 30vh;
}

footer {
  background-color: #31347a;
  color: #f2f2ff;
  padding: 4rem;
  margin-top: 8rem;
  font-size: 1.5rem;
  text-align: left;
}

footer main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 2140px;
  margin: 2rem auto 0 auto;
}

footer a {
  color: #f2f2ff;
}

footer .footer-stack {
  max-width: 40vw;
}

footer .footer-stack li {
  list-style: none;
}

footer .footer-links a {
  color: #f2f2ff;
}

footer .footer-links a:hover {
  color: #bcbcc3;
}

footer .footer-description {
  max-width: 40vw;
}
/*# sourceMappingURL=style.css.map */