$primary-color:#f2f2ff;
    $secondary-color:#31347a;
        $color-accent:#f6ce7a;
            $font-color-main:black;
            $font-color-accent: #46464b;
                $font-color-secondary: white;
                $font-hover-color: #bcbcc3;
                $font-color-accent-hover: #1a1a1b;
                    $font-size-primary: 1rem;
                        $font-size-secondary:1.5rem;
                            $font-size-tertiary:0.5rem;
                            $font-size-larger:2rem;
                            $fon-size-XL:3rem;
                            $main-font:cursive;
                            $header-font:monospace;


                                //reset default css

                                    *{
                                        padding: 0;
                                        margin: 0;
                                        box-sizing: border-box;}

                                        body{
                                            height: 100vh;
                                            width: 100%;
                                            font-family: $main-font;
                                            font-size: $font-size-primary;
                                            color: $font-color-accent;
                                        }

.wrapper{
    background-color: $secondary-color;

    color: $primary-color;
    font-family: $header-font;
    padding: 4rem 3rem 1.5rem 3rem;
    font-size: $font-size-larger;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
h1{
    cursor: pointer;
    transition: 0.6s all ease-in-out;
    span{
        color: #ff237e;
    }
}
h1:hover{
 color: $font-hover-color;
 transition: 0.6s all ease-in-out;
 

}
   
}

.links-container{
   ul{
       display: flex;
       li{
           flex: 1;
        margin-left:2rem;
        list-style: none;
        border-bottom: 1px solid transparent;
        cursor: pointer;
                font-weight: 400;
                color: white;

           
                 a{
                       color: white;
                         text-decoration: none;
                }
              
       }
       li:hover, a:hover{
           border-bottom: 2px solid $color-accent;
           transition: 0.5s all ease-in-out;
           color: $font-hover-color;
   
       }
   }

}

.Home{
    display: flex;
    justify-content: space-around;
   
    max-width: 2040px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 3rem;
  
    font-family: cursive;

    h1{
        margin-top: 8rem;
        text-align: justify;
        color: #46464b;
    }
    img{
        max-width: 50vw;
        margin-left: 3rem;
    }
}


//about page


.about{
    display: flex;
    justify-content: space-around;
    padding: 3rem;
 max-width: 2040px;
 margin-left: auto;
 margin-right: auto;
 padding-left: 3rem;
 color: $font-color-accent;

 div{

     text-align: justify;
h1{
                 margin-top: 8rem;
}
 }

 img{
       max-width: 50vw;
       margin-left: 3rem;
 }
}

//mapped data from external source//for resuablity

.mapped-data{
    display: flex;
    justify-content:space-around;
    

}

.data-item{
    flex: 1;
    font-size: $fon-size-XL;
         margin-top: 4rem;
   a{
       color: $font-color-accent;
       cursor: pointer;
   }
   a:hover{
       color:$font-color-accent-hover;
       transition: 0.5s all ease-in-out;
   }
}




//error page

.error{
    display: flex;
    justify-content: space-around;
    max-width: 2240px;
    
    padding: 5rem;
    margin: 10rem auto 0 auto;
   h1{
        text-align: justify;
   }
    img{
        max-width: 50vw;
    }
}


//resource page

.resource{
    display: flex;
    justify-content: space-around;
    padding: 4rem;
    max-width: 2040px;
    margin-left: auto;
    margin-right: auto;
    color: $font-color-accent;
div{
margin-top: 8rem;
font-size: $font-size-secondary;
    font-weight: 600;
    a{
 color: $font-color-accent;
    } 
}
}
//global styling for a tags
a{
    text-decoration: none;
    color:$primary-color;
}

//version page

.version{
    display: flex;
    justify-content: space-around;
    max-width: 2040px;
    margin: 8rem auto 0 auto;
    padding: 5rem;
    h1{
        text-align: justify;
    }
     img {
         max-width: 50vw;
     }
}


//spinner for loading component

.spinner{
    text-align: center;
    img{
     max-width: 50vw;
     height: 50vh;  
     margin-top: 30vh; 
        
    }
}

//display page

.display-table{
    text-align: center;
    padding: 2rem;
    max-width: 2040px;
    margin-left: auto;
    margin-right: auto;
    div{
        h2{
            color: rgb(92, 88, 88);
        }
    }
    h1{
       font-size: $font-size-secondary;
    }
    .parent-wrapper{
        display: flex;
        justify-content: space-between;
        border: 1px solid black;
        padding: 3rem;
        background-color: $color-accent;
    }
}
footer{
    background-color: $secondary-color;
    color: $primary-color;
    padding: 4rem;
    margin-top: 8rem;
    font-size: $font-size-secondary;
       text-align:left;
   main{
 display: flex;
 justify-content: space-around;
 max-width: 2140px;
 margin: 2rem auto 0 auto;


   }
a{
    color: $primary-color;
}
    .footer-stack{
        max-width: 40vw;
        
       
li{
    list-style: none;
}
    }

    .footer-links{
    
        a{
        color: $primary-color;
   
        }
        a:hover{
            color:#bcbcc3;
        }

    }
    .footer-description{
        max-width: 40vw;
      
    }
}
